<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
</div>

<article class="about">
  <h2>About me</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus
    mollis urna, vel auctor quam. Quisque ac dapibus est. Aenean non est augue.
    Nulla lorem dolor, molestie non pellentesque elementum, sagittis quis arcu.
    Curabitur vel tincidunt velit. Aliquam erat volutpat. Vivamus tempor
    pharetra urna, quis fringilla elit imperdiet eu.
  </p>
</article>
