
<header>
<p id="logo"><a [routerLink]="['/about_me']">EP</a></p>
<ul>
  <li><a [routerLink]="['/about_me']" [routerLinkActive]="['actived']">About Me</a></li>
  <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
  <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">Create</a></li>
  <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
</ul>
</header>

<section id="main_container">
<router-outlet></router-outlet>
</section>
<footer>
  Developed by Erick Pauwels all rigth reserveds &copy;
</footer>