/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

 

//------- SCCS FILES--------------//

@import './app/components/aboutme/aboutme.component.scss';